.calculatrice{
    display:grid;
    grid-template-columns: [calculatrice] 500 px;
    grid-template-rows: [ecran] 100px [touches] 500px;
    grid-gap:1px;
    place-content: center;
}

.ecran {
    grid-column:1/1;
    grid-row: 1/2;
    background-color:rgb(9, 46, 5);
}

.touches{
    display:grid;
    grid-template-columns: repeat(3,100px) [operator] 100px ;
    grid-template-rows: repeat(6,100px);
    grid-auto-flow: dense;
    grid-gap:1px;
    font-size: large;

}

.touches > button {
    font-size: 2rem;
}

[data-operation]{
    grid-column:operator;
    order: -1;
    background-color: rgb(174,230,195);
    opacity: 0.8;
}

[data-clear], [data-equals]{
    background-color: rgb(124,166,148);
}


[data-clear]:nth-child(1){
    grid-column:1/3;
   
}

[data-equals]{
    grid-column: 3/5;
}
